<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
    <!--先定义所有的appender -->
    <appenders>
        <!--输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--输出日志的格式 -->
            <PatternLayout pattern="%msg%xEx%n" />
        </Console>
        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="CustomRollingFile" fileName="/logs/hurricane-service.log"
                     filePattern="/logs/%d{yyyy-MM-dd}/user_video_%i.log">
            <PatternLayout charset="UTF-8" pattern="%msg%xEx%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="1" />
                <SizeBasedTriggeringPolicy size="1 kb" />
            </Policies>
        </RollingFile>
    </appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <loggers>
        <logger name="com.hurricane.note.service.impl.UserServiceImpl" level="debug" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="CustomRollingFile" />
        </logger>
        <!--建立一个默认的root的logger -->
        <root level="warn">
            <appender-ref ref="Console" />
        </root>
    </loggers>
</configuration>