<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hurricane.coupon.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hurricane.coupon.entity.User" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="figureurl" property="figureurl" jdbcType="VARCHAR" />
    <result column="figureurl_1" property="figureurl1" jdbcType="VARCHAR" />
    <result column="figureurl_2" property="figureurl2" jdbcType="VARCHAR" />
    <result column="figureurl_qq_1" property="figureurlQq1" jdbcType="VARCHAR" />
    <result column="figureurl_qq_2" property="figureurlQq2" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="is_lost" property="isLost" jdbcType="VARCHAR" />
    <result column="is_yellow_vip" property="isYellowVip" jdbcType="VARCHAR" />
    <result column="is_yellow_year_vip" property="isYellowYearVip" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="ret" property="ret" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="vip" property="vip" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="yellow_vip_level" property="yellowVipLevel" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, nickname, figureurl, figureurl_1, figureurl_2, figureurl_qq_1, figureurl_qq_2, 
    gender, is_lost, is_yellow_vip, is_yellow_year_vip, level, msg, province, city, ret, 
    source, vip, year, yellow_vip_level, openid, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from user
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hurricane.coupon.entity.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into user (uuid, nickname, figureurl, 
      figureurl_1, figureurl_2, figureurl_qq_1, 
      figureurl_qq_2, gender, is_lost, 
      is_yellow_vip, is_yellow_year_vip, level, 
      msg, province, city, 
      ret, source, vip, year, 
      yellow_vip_level, openid, create_time)
    values (#{uuid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{figureurl,jdbcType=VARCHAR}, 
      #{figureurl1,jdbcType=VARCHAR}, #{figureurl2,jdbcType=VARCHAR}, #{figureurlQq1,jdbcType=VARCHAR}, 
      #{figureurlQq2,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{isLost,jdbcType=VARCHAR}, 
      #{isYellowVip,jdbcType=VARCHAR}, #{isYellowYearVip,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{ret,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{vip,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{yellowVipLevel,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hurricane.coupon.entity.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="figureurl != null" >
        figureurl,
      </if>
      <if test="figureurl1 != null" >
        figureurl_1,
      </if>
      <if test="figureurl2 != null" >
        figureurl_2,
      </if>
      <if test="figureurlQq1 != null" >
        figureurl_qq_1,
      </if>
      <if test="figureurlQq2 != null" >
        figureurl_qq_2,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="isLost != null" >
        is_lost,
      </if>
      <if test="isYellowVip != null" >
        is_yellow_vip,
      </if>
      <if test="isYellowYearVip != null" >
        is_yellow_year_vip,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="ret != null" >
        ret,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="vip != null" >
        vip,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="yellowVipLevel != null" >
        yellow_vip_level,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="figureurl != null" >
        #{figureurl,jdbcType=VARCHAR},
      </if>
      <if test="figureurl1 != null" >
        #{figureurl1,jdbcType=VARCHAR},
      </if>
      <if test="figureurl2 != null" >
        #{figureurl2,jdbcType=VARCHAR},
      </if>
      <if test="figureurlQq1 != null" >
        #{figureurlQq1,jdbcType=VARCHAR},
      </if>
      <if test="figureurlQq2 != null" >
        #{figureurlQq2,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="isLost != null" >
        #{isLost,jdbcType=VARCHAR},
      </if>
      <if test="isYellowVip != null" >
        #{isYellowVip,jdbcType=VARCHAR},
      </if>
      <if test="isYellowYearVip != null" >
        #{isYellowYearVip,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="ret != null" >
        #{ret,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="yellowVipLevel != null" >
        #{yellowVipLevel,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hurricane.coupon.entity.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="figureurl != null" >
        figureurl = #{figureurl,jdbcType=VARCHAR},
      </if>
      <if test="figureurl1 != null" >
        figureurl_1 = #{figureurl1,jdbcType=VARCHAR},
      </if>
      <if test="figureurl2 != null" >
        figureurl_2 = #{figureurl2,jdbcType=VARCHAR},
      </if>
      <if test="figureurlQq1 != null" >
        figureurl_qq_1 = #{figureurlQq1,jdbcType=VARCHAR},
      </if>
      <if test="figureurlQq2 != null" >
        figureurl_qq_2 = #{figureurlQq2,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="isLost != null" >
        is_lost = #{isLost,jdbcType=VARCHAR},
      </if>
      <if test="isYellowVip != null" >
        is_yellow_vip = #{isYellowVip,jdbcType=VARCHAR},
      </if>
      <if test="isYellowYearVip != null" >
        is_yellow_year_vip = #{isYellowYearVip,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="ret != null" >
        ret = #{ret,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="vip != null" >
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="yellowVipLevel != null" >
        yellow_vip_level = #{yellowVipLevel,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hurricane.coupon.entity.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    set nickname = #{nickname,jdbcType=VARCHAR},
      figureurl = #{figureurl,jdbcType=VARCHAR},
      figureurl_1 = #{figureurl1,jdbcType=VARCHAR},
      figureurl_2 = #{figureurl2,jdbcType=VARCHAR},
      figureurl_qq_1 = #{figureurlQq1,jdbcType=VARCHAR},
      figureurl_qq_2 = #{figureurlQq2,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      is_lost = #{isLost,jdbcType=VARCHAR},
      is_yellow_vip = #{isYellowVip,jdbcType=VARCHAR},
      is_yellow_year_vip = #{isYellowYearVip,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      ret = #{ret,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      yellow_vip_level = #{yellowVipLevel,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="selectUserTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select
    count(1)
    from user
  </select>
  <select id="selectUserList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from user
    LIMIT  #{limitStart},#{limitSize}
  </select>
  <select id="getUserInfoByOpenId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from user
    WHERE 1=1
    <if test="openid != null" >
      and openid = #{openid,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>